/* body */
body {
    font-family: 'Arya', 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', sans-serif;
    cursor: none;
}
/* #wrap {overflow-x: hidden;} */

#cursor { position: fixed; left: 0; top: 0; pointer-events: none; z-index: 200; width: 30px; height: 30px; transform: translate(-50%, -50%); background: rgba(0, 0, 0, 0.2); border-radius: 50%; backdrop-filter: blur(10px); }
#cursor svg {visibility: hidden; opacity: 0;}
#cursor svg text { fill: #fff; }

header .header_inner {position: fixed; width: 100%; height: 60px; z-index: 100; font-family: 'Montserrat', sans-serif;}
header .logo { position: absolute; left: 30px; top: 50%; font-weight: 800; font-size: 20px; letter-spacing: 0.1em; }
header .txt_wrap { position: absolute; left: 30px; top: 70px;}
header .txt_wrap span {display: block; line-height: 1.2;}