/* body */
body {
    font-family: 'Roxborough-thin', 'Nanum Gothic', 'Malgun Gothic', '맑은 고딕', serif, sans-serif;
    color: #fff;
    cursor: none;
    overflow-x: hidden;
    letter-spacing: 0.05em;
}

header .top_header { position: fixed; width: 100%; height: 80px; padding: 0 40px; display: flex; justify-content: space-between; align-items: center; color: #fff; z-index: 100; }
header .top_header .logo { font-size: 42px; font-weight: 500; font-style: italic; height:80px; line-height: 80px; letter-spacing: 0.1em; }
header .top_header .email {font-size: 20px;}

footer .footer_inner { position: fixed; bottom:0; right: 10px; font-size: 14px; padding: 14px 0; z-index:10; }