/* 모바일 분기점 */
@media (max-width: 768px) {
    header .top_header .email {font-size: 16px;}

    /* intro */
    .intro .tit_wrap span { font-size: 16px; }

    /* contents */
    .contents>ul>li {width: 80%;}
    .contents>ul>li .img_wrap { width: 40vh; height: 60vh; }
    .spin { top: 50%; margin-left: -50vw; margin-top: -50vw; width: 100vw; height: 100vw; }

    footer .footer_inner {font-size: 12px;}
}