/* 태블릿 분기점 */
/* @media (max-width: 1024px) {
} */
/* 모바일 분기점 */
@media (max-width: 768px) {
    header .top_header .email {font-size: 16px;}

    .intro .tit_wrap span { font-size: 16px; }

    /* portfolio */
    .port_slider .swiper-slide { justify-content: center; }
    .spin { top: 50%; margin-left: -50vw; margin-top: -50vw; width: 100vw; height: 100vw; }
    .port_slider .swiper-slide {width: 80%;}
    .port_slider .swiper-slide .img_wrap { width: 40vh; height: 60vh; }
    .port_slider .swiper-slide .txt {font-size: 24px;}
    .port_slider .txt_wrap { width: 100%;}
}